[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
llama-stack = "*"
llama-stack-client = "*"
elevenlabs = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
